body {
  font-family: Arial, sans-serif;
  background: #f7c58c;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card { 
  background: rgb(245, 150, 87);
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-grid {
  display: grid;
  grid-template-columns: 150px 1fr 120px; /* label — input — botón */
  gap: 12px 15px;
  align-items: center;
}

.btn-form {
  padding: 8px 15px;
  cursor: pointer;
  margin-top: 65px;
  background-color: #f7c58c;
}

.form-grid label {
  font-weight: bold;
}

.form-grid input {
  padding: 6px;
  width: 50%;
  box-sizing: border-box;
}

input,
button {
  padding: 8px;
  margin: 5px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

tr.low-stock {
  background: #f7c58c;
}

button {
  cursor: pointer;
}

#btnFinalizar {
  background-color: #2ecc71;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#btnFinalizar:hover {
  background-color: #27ae60;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}

.edit-input {
  width: 70px;
}

.img-producto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  right: 15px;
  border-radius: 8px;
}
#nombre {
  width: 150px;
}

p {
  margin-top: 20px;
  text-align: center;
}

footer {
    font-size: 15px;
    text-align: center;
}